<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/Timepicker-Addon/jquery-ui-sliderAccess.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery.maskedinput.min.js"></script>
<link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/redmond/jquery-ui.css" />



<div class="well">
    <?php echo $this->form; ?>
</div>