<a href="/smart-conf/edit/" class="btn btn-danger">Alterar Configuração</a>
<hr />
<table class="table table-bordered table-striped">
	<tbody>
		<tr>
			<td>Nome Empresa</td>
			<td><b><?php echo $this->ini['emp_nome']; ?></b></td>
		<tr>
		<tr>
			<td> Endereço IP ou nome DNS do Servidor padrão de mídia</td>
			<td><b><?php echo $this->ini['defaultmediaserver']; ?></b></td>
		<tr>
		<tr>
			<td>porta ssh default</td>
			<td><b><?php echo $this->ini['sshport']; ?></b></td>
		<tr>
		<tr>
			<td>usuário padrao no servidor de midia</td>
			<td><b><?php echo $this->ini['defaultuser']; ?></b></td>
		<tr>
		<tr>
			<td>senha padrao</td>
			<td><b><?php echo $this->ini['defaultpassword']; ?></b></td>
		<tr>
		
		<tr>
			<td>horario de inicio das musicas</td>
			<td><b><?php echo $this->ini['musictimestart']; ?></b></td>
		<tr>
		
		<tr>
			<td>horario de fim das musicas</td>
			<td><b><?php echo $this->ini['musictimeend']; ?></b></td>
		<tr>
		
		<tr>
			<td>volume default para as musicas</td>
			<td><b><?php echo $this->ini['defaultvolume']; ?></b></td>
		<tr>
	</tbody>
</table>