<div class="container">
<div class="row">
        <div class="span2" style="background-color: #f1f1f1;height:300px;padding:10px;width: 173px;">
          <h3>Configurações</h3>
          <p><a class="btn" href="/smart-conf/">Smart.Conf</a></p>
        </div>
</div>
</div>