#tipo-cliente-label, #tipo-cliente-element, #tipo-plano-label, #tipo-plano-element{
    display:none;
}
body {
    margin: 0px;
    padding: 0px;
    color: #000;
    font-size: 12px;
    font-family: Delicious, sans-serif;    
}
#complementar-label {
    display:none;
}
#tipo-planos-label {
    clear:both;
    margin-top: 20px;
    padding-top: 20px;
}
#tipo-nome-label {
    padding-top: 10px;
}

.alert {
    color: #000 !important;
}
.alert tr:hover {
    background: transparent !important;
}

.user_table {
    padding-left: 50px !important;
    background: transparent url('../img/contacts.png') no-repeat scroll 15px 13px;
}
.planos_table {
    padding-left: 50px !important;
    background: transparent url('../img/plano.png') no-repeat scroll 15px 5px;
}
.sim {    
    text-transform: uppercase;
    color: darkgreen; 
}
.nao {
    color:firebrick;
    text-transform: uppercase;
}
.bt_pago {
    background-color:darkgreen !important;    
}
.dados {
    margin-left: 10px;
    font-size: 14px;
    background-color: #f1f1f1;
    padding: 4px;
}
.bt_naopago {
    background-color:firebrick !important;
}

.item_cb {
    float:left;
    clear:both;
}
.bt_disable {
    background-color: #D2D2D2 !important;    
}
.ft_big {
    font-size: 25px;    
    text-align: center;
}
.red {
    color: #f20000;
}
.bt {
    background-color: #000;
    -moz-border-radius: 5px;
    font-weight:bolder;
    border-radius: 5px;  
    color: #fff;
    text-decoration: none;
    padding: 3px 7px;
    margin: 2px;
    font-size: 9px;  
    float:left;
    width: 90px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
.bt:hover {
    cursor:pointer;
}
.busca {
    width: 100%;
    height: 20px;
    float:left;
    display:block;
    clear:both;
    padding: 10px 10px 20px 10px;
    line-height: 2em;
    background-color: #f1f1f1;
}
.busca * {
    float:left;    
}
.camp_dash {
    width: 100%;
    float:left;
    display:inline;
}
#contrato {
    width: 100% !important;
}
.camp_info {
    width: 945px;
    background-color: #E2EFF8;
    padding: 5px;
    float:left;
}
.camp_panel {
    width: 190px;
    float:left;
    border: 1px solid #B8DFEF;
    background-color: #fff;
    height: 50px;
    font-size: 14px;
    padding: 5px;
    margin-right: 2px;
}
.camp_title {
    width: 300px;
    float:left;
    font-size: 20px;
    font-weight: bolder;
}
.camp_cal {
    float:left;
    padding:5px;
    height:420px;
}
#calOneResult {
    font-size: 18px;
}
#calOne {
    height: 30px;
}
.jCal {
    height: 45px !important;
}

.ft_big {
    font-size: 25px;    
    text-align: center;
}
dd {
    margin: 0px;
}
dt {
    margin-bottom: 10px;
}
.red {
    color: #f20000;
}
.button {
    border-top: 0px;
    border-left: 0px;
    border-right: 2px solid #c43333;
    border-bottom: 2px solid #c43333;
    color: #ffffff;
    background-color: #ff5353;    
    padding: 5px 10px !important;
    font-weight: bolder;
    -moz-border-radius: 3px;
    border-radius: 3px;  
    text-decoration: none;
}
.button_back {
    border: none;
    color: #696969;
    padding: 5px 10px !important;
    font-weight: bolder;
    background-color: #fff;    
    cursor: pointer;    
    margin-top: 30px;
}
#filter .button, #filter .button_back {
    margin-top: 0px !important;
}
#login_box .button {
    margin-top: 4px !important;    
}
.button_back:hover {
    text-decoration:underline;
}
.container {
    width: 100%;
}
.wrap {
    width: 100%;
    margin: 0 auto;
}
.header {
    height: 143px; 
    background-color: #0f3180;
    overflow:hidden;
}
.logo {
    height: 145px;
    width: 200px;
    padding-top: 15px;
}
.logo a{
    text-decoration: none;
    font-size: 2em;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
}
.menu {
    float: right;    
}
.menu ul {
    display:inline;
}
.menu li {
    float:left;
    margin: 20px 0 0 20px;
    list-style:none;    
    line-height: 2em;
    font-size: 1.3em;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    height: 20px;
}
.menu li a:hover {
    color: #000;
    text-decoration: underline;
}    
.login {
    display:none;
    float:right;
    z-index: 1000;
    margin-left: 400px;
    margin-top: 15px;  
    margin-right: 10px;
}
.login label {
    clear:both;
    display:block;
}

input[type=text], input[type=password], select, textarea {
    background: #fff;
    border: 1px solid #d2d2d2;
    border-bottom: 2px solid #696969 !important;
    border-right: 2px solid #696969 !important;
    -moz-border-radius: 3px;
    border-radius: 3px;  

}
select {
    height: 31px;
}
.nav {
    float:left;
}
.login input[type=text], .login input[type=password] {
    border: 1px solid #007ab3;
    border-bottom: 2px solid #231f20;
    border-right: 2px solid #231f20;
    width: 150px;
    height: 20px;
    display:block;
}
.content {
}
.content h2 {
    color:#359fec;
    font-size: 12px;
    padding-bottom: 16px;
    font-weight: bolder;
    border-bottom: 2px solid #696969;
}
.content form {
    margin-left: 10px;
}
.content fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}
.errors {
    margin: 3px 0px 30px -40px;
}
.errors li {
    list-style: none;
    height: 16px;
    padding-left: 24px;
    background: transparent url('../img/important.png') no-repeat top left;
    color: #ff5353;
    margin-left: 0px;
    font-size: 0.8em;
    line-height: 1.5em;
}
dt label {
    font-weight: bolder;
}
.description, small {
    font-size: 1.0em;
    color: #696969;
    margin-top: 0px;
    padding: 4px;
}
.description {
    margin-top: -10px;

}
.required:after {
    content: " *";
    color: #ff5353;
}

.zend_form input[type=text], .zend_form input[type=password] {
    width: 400px;
    height: 25px;    
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    color:#000;
}
#info-grupo-element, #info-grupo-element {
    color:#000;
}
#grupo {
    height: 80px;
}

.zend_form textarea {
    width: 400px;
    height: 200px;
    background-color: #fff;
    margin-bottom: 10px;
    font-size: 1.8em;
    color:#000;
}
.zend_form select {
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    color:#000;
}

.recover_password {
    padding: 15px 10px;
    background-color: #f8ebe2;
    color: #ff5353;
}
.info_box {
    padding: 15px 10px;
    border: 1px solid #bbf8f0;
    color: #ff5353;
}
.recover_password a {
    color: #f20000;
    font-weight: bolder;
    text-decoration: none;
}
.list_data {
    margin-left: 10px;
}
.list_table {
    width: 100%;
    display:block;
    clear:both;    
}
.list_table table {
    width: 100%;
    padding: 10px;    
    border-bottom: 2px solid #696969;
}
.list_table thead {
    font-weight: bolder; 
    color: #000;
    background-color: #dcf1fb;
}
.list_table tr {
    height: 25px;    
}
.list_table td {

}
.list_table a {
    text-decoration: none;
}
.list_menu {
    display:block;    
    clear:both;
    height: 50px;
    border-bottom: 2px solid #696969;
}
.list_menu ul {
    display:inline;
}
.list_menu li {
    float:left;
    margin: 10px 0 0 10px;
    list-style:none; 
    line-height: 2em;    
}
.list_menu li a {
    color: #231f20;  
    font-weight: bolder;
    text-decoration: none;
}
.list_menu li a:hover {
    color: #0095da;
    text-decoration: underline;
} 
.list_on {
    background-color: #f1f1f1;
}
.list_off {
    background-color: #ffffff;
}
.pagination {
    padding: 10px 10px;
    margin-bottom: 50px;
}
.pagination a {
    border-color: #f2f2f2;
    width: 100px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 5px 10px !important;
    font-weight: bolder;
    color: #000;
    background: #fff url('../img/bk_input.png') repeat-x;
    border: 1px solid #007ab3;
    border-bottom: 2px solid #007ab3;
    border-right: 2px solid #007ab3;
    -moz-border-radius: 3px;
    border-radius: 3px;  
    text-decoration: none;
}
.pagination a:hover {
    border: 1px solid #0095da;
    background-color: #0095da !important;
    color: #000;
    text-decoration: underline;
}
.pagination .disabled {
    border: 1px solid #d2d2d2;
    color: #696969;
    margin: 5px;
    padding: 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
}
.pagination .atual {
    border-color: #ff5353;
    color: #ffffff;
    background-color: #ff5353;    
    font-weight: bolder;
    margin: 5px;
    padding: 5px;
        -moz-border-radius: 3px;
    border-radius: 3px;  
}
.add {
    padding-left: 28px;
    background: transparent url('../img/add.png') no-repeat top left;
    height: 22px;
}
.groups {
    padding-left: 28px;
    background: transparent url('../img/groups.png') no-repeat top left;
    height: 22px;
}
.contacts {
    padding-left: 25px;
    background: transparent url('../img/contacts.png') no-repeat top left;
    height: 22px;
}
.campaign {
    padding-left: 28px;
    background: transparent url('../img/campaign.png') no-repeat top left;
    height: 22px;
}
.dash {
    padding-left: 28px;
    background: transparent url('../img/dash.png') no-repeat top left;
    height: 22px;
}
.logoff {
    padding-left: 28px;
    background: transparent url('../img/logoff.png') no-repeat top left;
    height: 22px;
}
.login_mn {
    padding-left: 28px;
    background: transparent url('../img/login.png') no-repeat top left;
    height: 22px;
}
.signin {
    padding-left: 28px;
    background: transparent url('../img/signin.png') no-repeat top left;
    height: 22px;
}
.import {
    padding-left: 28px;
    background: transparent url('../img/import_csv.png') no-repeat top left;
    height: 22px;
}
.export {
    padding-left: 28px;
    background: transparent url('../img/export_csv.png') no-repeat top left;
    height: 22px;
}

.toolbar {
    border-bottom: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    background-color: #dedede;
            -moz-border-radius: 3px;
    border-radius: 3px;  
}

.dashboard {
    width: 100%;
}
.info_campanha {
    float:right;
}
.dash_campanha {
    width: 100%;
    clear:both;
    display:block;
    border:2px solid #d2d2d2;
    margin-top: 20px;
    height: 43px;
    background-color:#d2d2d2;
}
.stat_campanha {
    float:left;
    height: 30px;
    width: 100px;
    font-size: 0.8em;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bolder;
    line-height: 2em;
    padding-left: 5px;
}
.panel_campanha {
    width: 180px;
    background-color: #fff;
    float:left;
    margin-right: 5px;
    padding-left: 5px;
}
#number {
    position: absolute;
    top: 163px;
    left: 36%;
}
#number_value {
    font-size: 2em;
}
.csv_coluna {
    width: 250px;
    height: 50px;
    clear: both;    
    background-color: #f1f1f1;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    padding-top: 20px;
    padding-left: 10px;
}
.csv_linha {
    width: 70px;
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
    vertical-align: central;
    color: #696969;
}
.csv_associa {
    width: 250px;
    height: 50px;
    clear: both;    
    background-color: #f1f1f1;
    border-top: 1px solid #d2d2d2;    
    border-left: 1px solid #d2d2d2;    
    padding-top: 20px;
    padding-left: 10px;         
}
.csv_arrow {
    width: 50px;
    height: 50px;
    background: transparent url('../img/associate.png') no-repeat center center;
}
.select_associa {
    width: 200px;
    height: 40px;
    font-size: 1.5em;
}
.nivo-caption {
    font-size: 2em;
    -moz-opacity: 0.5 !important;
    filter:alpha(opacity=5) !important;
}
.empty_item {
    width: 800px;
    margin-top: 100px;
    height: 100px;
    padding: 10px 0px;
    background: #E2EFF8 url('../img/empty_item.png') no-repeat center left;
    padding-left: 130px;
}
.new_user_item {
    width: 700px;
    margin: 100px auto;
    height: 120px;
    padding: 10px;
    background: #E2EFF8 url('../img/new_user_item.png') no-repeat center left;
    padding-left: 130px;    
}
.new_user_item h3 {    
    color: #696969;
}
.new_user_item small {
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.5em;
}
.filter {
    width: 180px;
    float:right;
}
.filter select {
    border-color: #f2f2f2;
    width: 100px;
    color: #000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #a4a4a4;    
    padding: 5px 10px !important;
    font-weight: bolder;
}
.footer {
    color:#24B1A0;
    font-weight: bolder;
    width: 100%;
}
.footer_links {
    margin: 0 auto;
}
.footer ul {
    display:inline;        
}
.footer li {
    float:left;
    text-align:center;
    padding: 20px 55px;
    list-style: none;
}
.footer a {
    text-decoration: none;
    color:#231f20;
    text-shadow: 1px 1px 2px rgba(13, 59, 53, 0.30);
}
.footer a:hover {
    text-decoration: underline;
    color:#000;
}
.creditos {
    color: #a4a4a4;
    float:right;
    clear:both;
    margin:30px 4px 4px 4px;
    padding: 2px;
    background-color: #696969;     
        -moz-border-radius: 3px;
    border-radius: 3px;  
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.ft_credito {
    font-size: 20px;
    width: 100px;
    font-weight:bolder;
    color: #fff;
}
.creditos a {
    color: #000;
    text-decoration: none;
}
.creditos a:hover {
    color: #fff;
    background-color: #838383;
    text-decoration: underline !important;
}

.ico_gift {
    padding-top: 22px;
    background: transparent url('../img/gift.png') no-repeat top center;
    height: 22px;    
    font-size: 10px !important;    
    margin-top: 5px;
    margin-right: 4px;
    border-right: 1px solid #838383;
    padding-right: 8px;
    padding-left: 8px;
}
.ico_buy {
    padding-top: 22px;
    background: transparent url('../img/money.png') no-repeat top center;
    height: 22px;    
    margin-top: 5px;
    font-size: 10px !important;    
}
.list_table tbody tr:hover {
    background-color: #c3c3c3;
}
.list_table thead td {
    background-color: dimGray;
    padding: 10px 10px;
    color: #fff;
}
.info {
    padding: 15px 0 0 0;
    line-height: 1.6em;
}
.info_form {
    width: 630px;
    background-color:#f1f1f1;
    float:left;
    padding: 10px;
}
.info_text {
    float:left;
    width: 400px;   
    padding-left: 50px;
    line-height: 2em;
}
.info_text p {
    font-weight: lighter;
    font-size: 17px;
    color: #696969;
}
.sign {
    border-top: 0px;
    border-left: 0px;
    border-right: 2px solid #c43333;
    border-bottom: 2px solid #c43333;
    color: #ffffff;
    background-color: #ff5353;    
    padding: 10px 20px !important;
    font-weight: bolder;
    -moz-border-radius: 3px;
    font-size: 16px;
    border-radius: 3px;  
}
.red {
    font-weight: lighter;
    color:#CC0000;
}
.plano_table {
    width: 100%;
}
.plano_table tbody{
    font-size: 16px;
}
.plano_table tr{
    border-bottom: 1px solid #696969;
}

#tabs {
    display:inline;
    width: 100%;
    font-size: 14px;
}
#tabs ul{
    margin: 0px;
    padding: 0px;
}
#tabs li {
    float:left;
    list-style:none;
    font-weight: bolder;
    margin: 5px 5px 5px 0px;
    padding: 15px 0px;        
}
#tabs a {          
    -moz-border-radius: 3px;
    border-radius: 3px;  
    border-bottom: 0px !important;
    border-right: 0px !important;
    color: #696969;
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    padding: 15px 15px 15px 15px;
    text-decoration: underline;
}
.active a{
    background-color: #696969 !important;   
    color: #fff !important;
    background-color: #696969;     
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;  
    border-bottom: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
    text-decoration: none !important;
}

#tab-1, #tab-2, #tab-3, #tab-4 {
    width: 940px;
    min-height: 300px;
    background-color: #E2EFF8;
    clear:both;
    float:left;
    padding: 10px;
}    

/* Filter */


.filter_box {
    width: 100%;
    float:left;
    padding: 10px 0px 5px 10px;
}
.filter_box ul {
    display:inline;
}
.filter_box li {
    list-style:none;
    float:left;
}
.filter_box input {
    height: 23px;
}
.filter_box select {
    height: 28px;
}
.green {
    color:#009999;
}
.red {
    color: #710909;
}

.status_new {
    line-height: 1.5em;
    padding-left: 28px;
    background: transparent url('../img/status/new.png') no-repeat top left;
    height: 22px;
    color:darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}
.status_sending {
    line-height: 1.5em;
    padding-left: 28px;
    background: transparent url('../img/status/sending.png') no-repeat top left;
    height: 22px;
    color:#009999;
    font-weight: bolder;
    font-size: 16px;
}
.status_canceled {
    line-height: 1.5em;
    padding-left: 28px;
    background: transparent url('../img/status/paused.png') no-repeat top left;
    height: 22px;
    color:#710909;
    font-weight: bolder;
    font-size: 16px;
}
.status_done {
    line-height: 1.5em;
    padding-left: 28px;
    background: transparent url('../img/status/done.png') no-repeat top left;
    height: 22px;
    color:#009999;
    font-weight: bolder;
    font-size: 16px;
}
.status_scheduled {
    line-height: 1.5em;
    padding-left: 28px;
    background: transparent url('../img/status/scheduled.png') no-repeat top left;
    height: 22px;
    color:darkgoldenrod;
    font-weight: bolder;
    font-size: 16px;
}
.status_periodic {
    line-height: 1.5em;
    padding-left: 28px;
    background: transparent url('../img/status/periodic.png') no-repeat top left;
    height: 22px;
    color: #1843a8;
    font-weight: bolder;
    font-size: 16px;
}