<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="portal de media center">
		<meta name="author" content="kaue santos">
		<title>Smart Media</title>
		<?php echo $this->headScript()->prependFile(' /js/tests/vendor/jquery.js', 'text/javascript', array()); ?>  
		<?php echo $this->headScript()->prependFile(' /js/bootstrap/js/bootstrap.min.js', 'text/javascript', array()); ?>  
		
		<?php echo $this->headLink()->appendStylesheet('/js/jquery-tooltip/jquery.tooltip.css') . "\n"; ?>
		<?php echo $this->headLink()->appendStylesheet('/js/bootstrap/css/bootstrap.min.css') . "\n"; ?>
		<?php echo $this->headLink()->appendStylesheet('/css/main.css') . "\n"; ?>
	</head>
	<body>
		<div>
			<div class="wrap">
				<div style="width: 100%; clear: both; display: block;">
					<div class="navbar navbar-inverse">
						<div class="navbar-inner">
							<a class="brand" href="/">Smart Media Client</a>
							<?php if( Zend_Auth::getInstance()->hasIdentity()) : ?>
								<ul class="nav">
									<li class="dropdown">
										<a class="dropdown-toggle"
											data-toggle="dropdown" href="#"> Configurações <b class="caret"></b>
										</a>
										<ul class="dropdown-menu">
											<li><a href="/smart-conf/"> Smart.conf </a></li>
										</ul>
									</li>
									<li>
										<a href="/users/logoff/">Sair</a>
									</li>
								</ul>
							<?php endif ?>
						</div>
					</div>
				</div>
				<div class="content">    
					<?php echo $this->layout()->content; ?> 
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
$("#login").click(function() {        
	$(".login").animate({width:'toggle'},350);
	$(".login").css({"margin-left":"0px"});
});
</script>
