<!-- @author kaue Santos - @kauesantos88  -->
<html>
	<head>
	<title>Smart Media</title>
	
	<?php
		echo $this->doctype () . "\n";
		echo $this->doctype ( 'HTML5' ) . "\n";
		echo $this->headScript ()->prependFile ( '/js/jquery-1.6.2.min.js', 'text/javascript' );
		echo $this->headScript ()->prependFile ( '/js/jquery-ui-1.8.16.custom.min.js', 'text/javascript' );
		
		echo $this->headMeta ()->appendHttpEquiv ( 'Content-Type', 'text/html;charset=utf-8' ) . "\n";
		echo $this->headLink ()->appendStylesheet ( '/css/vivaemjurere.css' ) . "\n";
		// echo $this->headLink()->appendStylesheet('http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/south-street/jquery-ui.css') . "\n";
	?>
	</head>
<body>
	<div class="view">
		<?php echo $this->layout()->content; ?> 
	</div>
</body>